
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Home page</title>
<!--		<script type="text/javascript" src ="library/bootstrap.min.js"></script>-->
		<link rel = "stylesheet" type="text/css" href="/style/css/diagram.css">
		<link rel = "stylesheet" type="text/css" href="/style/css/bootstrap.min.css">
		<link rel = "stylesheet" type="text/css" href="/style/css/main.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	    <script type="text/javascript" src ="/js/rankBoard.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-bark">
			<div class="container-fluid">
				    <div class="navbar-header">
				      <a href="/"><img src = "\src\img\mlStock1.png" alt="mlStock logo" height =100 weight=200></a>
				    </div>
				  
				  <ul class = "nav navbar-nav navbar-right">
						<li ><button class ="btn btn-lg" onclick = "setDefault()">Default</button></li>
						<li ><button class ="btn btn-lg" onclick = "setAdvance()">Advance</button></li>
						<input type ="text" name = "type" value =  "<%= type%>" id = "TYPE" hidden>
					</ul>
				</div>
			
			</div>
		</nav>
		<main>
			<div id="search_bar" class  ="row home_search">
				<img style="padding-left: 40%;padding-bottom: 1%" height = 150 src = "\src\img\mlStock1.png" alt="mlStock logo">
				<div class="search_bar">
					<input type ='search' name='symbol' id="search_symbol" placeholder="Please enter a symbol or company name">
					<button class="btn btn-default" id ="search-btn" onClick = "searchFunction()">Search</button>
				</div>
			</div>
	

			<div id = "main_list" class ="container" ng-app = "rankBoard">
			<% for(var i  = 0; i < rankboard.length;i++){ %>
				<div class = "row">
					<% for(var j = 0; j< rankboard[i].length;j++){%>
					<div class ="col-lg-4 col-md-6 col-sm-12" ng-controller = "<%= rankboard[i][j].controler %>" >
						<h4><%= rankboard[i][j].header %></h4>
						<ul ng-repeat = "item in list">
							
							<li class = "item">
							<a ng-href="symbol/{{ item.symbol }}">
							<div class="symbol-id floating-box">{{ item.symbol }}</div>
							<div class= "symbol-acc floating-box">{{ item.test_mae.toFixed(2)||"" }}</div>
							<div class="symbol-id floating-box">{{ item.data.predict||'' }}</div>
							</a></li>
							
						</ul>
					</div>
					<% } %>
				</div>
				<% } %>
			</div>
		</main>
	</body>
	<script type="text/javascript" src ="/js/searchStock.js"></script>
	

</html>